body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* INTRO PAGE */
a{
    color: black
}
a:hover{
    text-decoration: none;
    font-size: 25px;
    color: black;
}
.logo{
    margin-top: -10px;
    width: 50px;
    height: 50px;
}
.glyphicon-list{
  font-size: 25px;
}
.contacts-nav{
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    background-color: grey;
    height: 50px;
    font-size: 20px;
}
.contacts-nav > ul{
    width: 100px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.front{
    width: 100%;
    height:85vh;
        /* background: url('IG-20220804-WA0012.jpg') no-repeat center;     
        background-size: cover; */
}
.maincol > div{
    background-color: blue;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.maincol> div > img{
    width: 80px;
    padding-right: 10px;

}
.maincol>div:nth-child(1){
    background-color: rgb(245, 241, 241);
}
.maincol>div:nth-child(2){
    background-color: black;
    color: white;;
}
.maincol>div:nth-child(3){
    background-color: rgb(237, 230, 230);
}
.fa-lock{
    padding-right: 10px;
}
.maincol>div:nth-child(4){
    background-color: white;
    color: black;;
}
.maincol>div:nth-child(5){
    background-color: rgb(242, 237, 237);
}

.maincol>div:nth-child(6){
    background-color: black;
    color: white;;
}
.intro{
    background-color: aliceblue;
    padding: 15px ;
    color: black;
  }
.about{
    /* height: 150vh; */
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FOOTER COMPONENTS  */
.back >h4{
    text-align: center;
  }
  .design-by >div{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    height: 40px;
    margin-bottom: 20px;
  }
  .design-by >div >div{
    margin-left: 10px;
    border-radius: 5px;
    display: flex;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    color:rgb(78, 78, 209);
    background-color: black;
    font-size: 20px;
    height: 40px;
  }
  .info > h3{
    font-size: 30px;
    color: orange;
    font-weight: bold;
  }
  .gallery{
    margin: 0 auto;
    max-width: 700px;
    /* margin-left: 5%;
    margin-right: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
.info> ul> li{
    list-style: none;
    font-size: 20px;
}
